*{box-sizing:border-box;text-decoration:none;}
html{font-size:7px;}
a:active{outline:none;}
h1{margin:0;}
body{font-family:'Open Sans';line-height:1.4;width:100%;height:100%;margin:0;padding:0;}
ul li{list-style:none;}
ul, li{list-style:none;}
img{max-width:100%;}
.header{height:100vh;margin-top:0;display:flex;position:relative;justify-content:center;align-content:center;align-items:center;text-align:center;color:#fff;}
.header__items{color:#fff;font-size:4.8rem;font-weight:300;text-transform:uppercase;}
.header__text{color:#fff;font-size:3rem;line-height:40px;}
.header__border{width:170px;height:1px;border:1px solid #fff;margin:0 auto;margin-top:15px;}
.header__btm-btn{margin-bottom:20px;position:absolute;left:50%;bottom:0;}
.icon-down{color:#fff;font-size:3rem;margin-bottom:20px;}
.portfolio-title{margin-top:8.8rem;margin-bottom:14.8rem;text-align:center;color:#333;font-size:3.6rem;font-weight:bold;line-height:40px;text-transform:uppercase;}
.portfolio-img{box-shadow:0 0 10px rgba(0,0,0,0.5);}
.check-btn{text-decoration:none;}
.check-work{font-size:24px;color:rgb(85, 85, 85);line-height:1.667;margin:0 auto;display:table;margin-top:48px;margin-bottom:210px;}
.check-work a{text-decoration:none;color:#a0a0a0;cursor:pointer;}
.check-work a:hover{border-bottom:1px dotted #a0a0a0;}
.row{min-height:24rem;}
.footer{min-height:24rem;background:#646464;display:relative;color:#fff;text-align:center;}
.flex-author{display:flex;min-height:24rem;flex-direction:column;justify-content:center;align-items:center;color:#e4e4e4;font-size:2.4rem;font-weight:400;line-height:40px;}
.flex-social{display:flex;min-height:24rem;justify-content:center;align-items:center;flex-direction:column;color:#e4e4e4;font-size:2.4rem;font-weight:400;line-height:40px;}
.social-icons{width:100%;margin-top:1rem;}
.icon-vk, .icon-insta, .icon-tw{color:#e4e4e4;border:1px solid #e4e4e4;padding:1rem;border-radius:10rem;transition:0.3s;}
.icon-vk:hover,.icon-insta:hover, .icon-tw:hover{background:#fff;color:#000;}
.flex-info{display:flex;min-height:24rem;justify-content:center;flex-direction:column;align-items:center;color:#e4e4e4;font-size:2.4rem;font-weight:400;line-height:40px;}
.order-btn{border:1px solid #e4e4e4;margin-top:1.3rem;padding:5px 20px;border-radius:100px;transition:0.3s;}
.order-btn:hover{background:#fff;color:black;text-decoration:none;cursor:pointer;}
.order-btn{color:#e4e4e4;text-decoration:none;}
@media only screen and (max-width:1110px){.portfolio-img{display:block;margin:0 auto;}
}
@media (min-width:0px) and (max-width:767px){html{font-size:7px;}
}
